[alias]
    co = checkout

[core]
    excludesfile = ~/.gitignore.global
    ignorecase = false

[init]
    defaultBranch = main

[url "git@github.com:"]
    insteadOf = https://github.com/

[pull]
	rebase = false

[user]
    # These values are set in ~/.gitconfig.local

[include]
    path = ~/.local.gitconfig
	path = /Users/rmarganti/.dotfiles/dots/.config/delta/themes.gitconfig
