[metadata]
name = "git-diff"
description = "A channel to select files from git diff commands"
requirements = ["git"]

[source]
command = "git status --porcelain | awk '{print $2}'"

[preview]
command = "git diff HEAD --color=always -- '{}'"
